.home{
  position: relative;
  .home_bgvideo{
    width: 100%;
  }
  .home_bgimg{
    display: none;
  }

  .home_mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .home_solgan{
      .home_logo{
        display: block;
        width: 68%;
        margin: 0 auto;
        //transform: scale(0.68);
      }
    }
    .solgan_tip{
      text-align: center;
      font-size: 16px;
      color: #ffffff;
      line-height: 56px;
      margin: 50px auto 0;
      height: 56px;
      border-radius: 21px;
    }
  }
}